body{
    background-color: antiquewhite;
}
.container{
    width: 100%;
    background-color: antiquewhite;
}
.header{
    background-color: antiquewhite;
    text-align: center;
    color: green;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-display: display;
}
.nav,.content{
    background-color: antiquewhite;
    float: left;
    padding: auto;
    box-sizing: border-box;
    min-height: 170px;
}
.nav{
    width: 20%;
    background-color: antiquewhite;
    color: darkolivegreen;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;

}
.content{
    width: 80%;
    background-color:antiquewhite;
    font-size: large;
    font-weight: 600;
    color: green;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}
#login{
    font-size: medium;
    text-align: center;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    padding: 300px;
    background-color: antiquewhite;
}
#mail,#pass{
    width: 200px;
    padding: 2px;
}
#lgbtn{
    background-color: green;
}
#rgbtn{
    background-color: green;
}